@{
    ViewBag.Title = "Cadastro de Usuário";
}

<head>

</head>

<h2>@ViewBag.Title</h2>

<div class="panel-body">

    <form id="formLogon" method="post">
        <div id="login-summary" class="alert alert-warning" role="alert" style="display: none;">
        </div>

        <div class="group-control" style="margin-top: 15px;">
            <label class="control-label" for="txtSenha">Senha Atual</label>
            <input class="form-control" type="password" id="txtSenha" required name="txtSenha" maxlength="30">
        </div>

        <div class="group-control" style="margin-top: 15px;">
            <label class="control-label" for="txtSenha">Nova Senha</label>
            <input class="form-control" type="password" id="txtNovaSenha" required name="txtNovaSenha" maxlength="30">
        </div>

        <div class="group-control" style="margin-top: 15px;">
            <label class="control-label" for="txtSenha">Confirme sua Nova Senha</label>
            <input class="form-control" type="password" id="txtConfirmNovaSenha" required name="txtConfirmNovaSenha" maxlength="30">
        </div>

        <div class="group-control" style="margin-top: 15px;">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <button id="btnChangePassword" type="button" class="btn btn-primary" style="width: 100%;">Alterar Senha</button>
                </div>

            </div>
        </div>
    </form>
</div>

@*Modal de notificações *@
<div class="modal fade" id="notificationAnimalModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModal">Aviso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="notificationText">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/Customer/alterarSenha.js"></script>
