@{
    ViewBag.Title = "Cadastro de Usuário";
}

<head>
    <link rel="stylesheet" href="~/Content/CSS/Home/Account.css">
</head>

<div class="account-container">

    <h2>@ViewBag.Title</h2>

    <div class="panel-body">

        <form id="formLogon" method="post">
            <div id="login-summary" class="alert alert-warning" role="alert" style="display: none;">
            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="group-control">
                        <label class="control-label" for="txtLogin">Login</label>
                        <input class="form-control" type="text" id="txtLogin" required name="txtLogin" maxlength="60">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="group-control">
                        <label class="control-label" for="txtNome">Nome</label>
                        <input class="form-control" type="text" id="txtNome" required name="txtNome" maxlength="100">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="group-control">
                        <label class="control-label" for="txtLogin">Email</label>
                        <input class="form-control" type="text" id="txtEmail" required name="txtEmail" maxlength="90">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="whatsapp" class="control-label">Whatsapp de Contato:</label>
                        <input class="form-control" type="text" id="whatsapp" name="whatsapp" value="" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="group-control">
                        <label class="control-label" for="txtSenha">Senha</label>
                        <input class="form-control" type="password" id="txtSenha" required name="txtSenha" maxlength="30">
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="group-control">
                        <label class="control-label" for="txtSenha">Confirme sua Senha</label>
                        <input class="form-control" type="password" id="txtConfirmSenha" required name="txtConfirmSenha" maxlength="30">
                    </div>
                </div>

            </div>
                
                    <div class="group-control" style="margin-top: 15px;">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <button id="btnEnter" type="button" class="btn btn-primary" style="width: 100%;">Criar Conta</button>
                            </div>

                        </div>
                    </div>
        </form>
    </div>
</div>

@*Modal de notificações *@
<div class="modal fade" id="notificationAnimalModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModal">Aviso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="notificationText">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/Home/criarConta.js"></script>
