@{
    ViewBag.Title = "Home | SOSPETS";
}


<link rel="stylesheet" href="~/Content/CSS/Home/index.css">


<div class="jumbotron">
    <div class="row container-pesquisa-animal">

        <div class="col-md-12">
            <center><h4>Pesquisa de Animais por Estado/Cidade</h4></center>
        </div>


        <div class="btn-group btn-search" role="group" style="width: 100%">

            <div class="col-md-4">
                <select id="cmbEstado" style="width: 100%">
                    <option value="0">Todos Os Estados</option>
                </select>
            </div>

            <div class="col-md-4">
                <select id="cmbCidades" style="width: 100%">
                    <option value="0">Todas As Cidades</option>
                </select>
            </div>

            <div class="col-md-4">
                <button id="btnPesquisaAnimal" type="button" style="width: 93%">
                    Pesquisar
                </button>
            </div>

        </div>

    </div>

</div>

<div id="carousel-propagandas">
    @foreach (var propaganda in ViewBag.Propagandas)
    {
        <div class="carousel-item" style="text-align:center;color:white">
            <h3>@propaganda.Titulo</h3>
            <img class="center propaganda_img" src="@ViewBag.PropagandaPath/@propaganda.PropagandaLogo"  />
        </div>

    }
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Plugin/OwlCarousel2/dist/owl.carousel.js"></script>

<script src="~/Scripts/Home/index.js"></script>
