@{
    ViewBag.Title = "Home | SOSPETS";
}


<link rel="stylesheet" href="~/Content/CSS/Home/index.css">


<div class="jumbotron">
    <div class="row container-pesquisa-animal">

        <div class="col-md-12">
            <center><h4>Pesquisa de Animais por Estado/Cidade</h4></center>
        </div>


        <div class="btn-group btn-search" role="group" style="width: 100%">

            <div class="col-md-4">
                <select id="cmbEstado" style="width: 100%">
                    <option value="0">Todos Os Estados</option>
                </select>
            </div>

            <div class="col-md-4">
                <select id="cmbCidades" style="width: 100%">
                    <option value="0">Todas As Cidades</option>
                </select>
            </div>

            <div class="col-md-4">

                <button id="btnPesquisaAnimal" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" width="50px" height="25px" fill="currentColor">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>Pesquisar
                </button>
            </div>

        </div>

    </div>

</div>

<div class="ultimos-anuncios-container">

    <h2>Anuncios Recentes</h2>

    <div id="ultimos-anuncios" class="panel-body">

    </div>

</div>

<div id="carousel-propagandas">
    @foreach (var propaganda in ViewBag.Propagandas)
    {
        <div class="carousel-item" style="text-align:center;">
            <h3 style="background-color:white;border-radius:5px;">@propaganda.Titulo</h3>
            <img class="center propaganda_img" src="@ViewBag.PropagandaPath/@propaganda.PropagandaLogo" />
        </div>

    }
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Plugin/OwlCarousel2/dist/owl.carousel.js"></script>

<script src="~/Scripts/Home/index.js"></script>
