@{
    ViewBag.Title = "Home | SOSPETS";
}


<link rel="stylesheet" href="~/Content/CSS/Home/index.css">


<div class="jumbotron">
    <div class="row container-pesquisa-animal">

        <div class="col-md-12">
            <center><h4>Pesquisa de Animais por Estado/Cidade</h4></center>
        </div>


        <div class="btn-group btn-search" role="group" style="width: 100%">

            <div class="col-md-4">
                <select id="cmbEstado" style="width: 100%">
                    <option value="0">Todos Os Estados</option>
                </select>
            </div>

            <div class="col-md-4">
                <select id="cmbCidades" style="width: 100%">
                    <option value="0">Todas As Cidades</option>
                </select>
            </div>

            <div class="col-md-4">
                <button id="btnPesquisaAnimal" type="button" style="width: 93%">
                    Pesquisar
                </button>
            </div>

        </div>

    </div>

</div>

<div id="carousel-propagandas">
    @foreach (var propaganda in ViewBag.Propagandas)
    {
        <div class="carousel-item" style="text-align:center;">
            <h3>@propaganda.Titulo</h3>
            <img class="center" src="@ViewBag.PropagandaPath/@propaganda.PropagandaLogo" style="width:85vw;height:60vh;" />
        </div>

    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Plugin/OwlCarousel2/dist/owl.carousel.js"></script>

<script src="~/Scripts/Home/index.js"></script>
