
@{
    ViewBag.Title = "Contact | SOS PETS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/CSS/Static/Static.css">
</head>

<div class="static-container">
    <center><h2 style="padding: 25px 0 15px 0;">Contato</h2></center>
    <div class="col-md-12" style="">
        <strong>Possui alguma dúvida ou quer notificar os criadores desse Site? </strong> <br />
        Fale conosco via whatsapp
        <a href="https://api.whatsapp.com/send?phone=5519996192262&text=Ol%C3%A1!" target="_blank" style="text-decoration:none;">
            55(19)996192262
        </a>
    </div>
    <br />
</div>


