
@{
    ViewBag.Title = "Faq | SOS PETS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2 style="padding: 25px 0 15px 0;">Faq</h2></center>
<div class="col-md-12" style="padding-bottom:25px;">
    <strong> P: A Equipe do SOSPets participa da troca de informações entre pessoas procurando animais e quem encontra?</strong><br />
    R: Não, a equipe apenas divulga os dados. Cabe aos usuários agirem com seriedade e comunicarem informações
    incorretas;<br />
    <strong> P: Qual a abrangência do Site? </strong><br />
    R: O Site possui abrangência nacional, qualquer usuário pelo país pode criar e buscar os dados dos animais;<br />
</div>

