@{
    ViewBag.Title = "Pesquisa de Animais | SOS PETS";
}



<link rel="stylesheet" href="~/Content/CSS/Anuncios/anunciosAnimaisIndex.css">

<ol class="breadcrumb" style="margin-top:15px;">
    <li><a href="/">SOSPETS</a></li>
    @if (ViewBag.Estado == null)
    {
        <li>Todos os Estados</li>
    }
    else
    {
        <li><a href="/Anuncios/AnunciosAnimaisIndex?pagina=1&estadoID=@ViewBag.Estado.id&cidadeID=0"> @ViewBag.Estado.nome</a></li>
        if (ViewBag.Cidade == null)
        {
            <li> Todas as Cidades</li>
        }
        else
        {
            <li> @ViewBag.Cidade.nome</li>
        }
    }

</ol>

<input id="parametros-busca" hidden data-page="@ViewBag.Page" />

<center><h4>Veja abaixo os resultados:</h4></center>

<div class="lote-info-nav row" style="display:none;">
    <div class="col-md-2">
        <span class="text-paging">Página <span class="index-page"></span> de <span class="total-page"></span> <br />(<span class="total-lotes"></span>)</span>
    </div>
    <div class="col-md-8 text-center">
        <nav aria-label="...">
            <ul class="nav-paging pagination">
                <li class="disabled"><a href="#" aria-label="Anterior" index="prev" title="Página Anterior"><span aria-hidden="true"> « </span></a></li>
                <li class="active"><a href="#" index="1"> 1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#" aria-label="Próximo" index="next" title="Próxima Página"><span aria-hidden="true"> » </span></a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div id="content_list_lote" class="content-list-lote">
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Anuncios/anunciosAnimaisIndex.js"></script>