.animal_categoria {
    margin: 12px 8px 12px 8px;
    padding-left: 6px;
    border-style: solid;
    border-width: thin;
}

.nome_categoria_atualizar {
    margin: 3px;
    border-radius: 4px;
}

.animal_categoria button {
    margin: 3px;
}

.account-container {
    background-color: white;
    /*padding-bottom: 66px;*/
}

    .account-container h2 {
        text-align: center;
        padding: 6px 0 6px 0;
    }